@import "./_variables.scss";

//Border
$border-navbar: 1px solid $border-color-primary;
$border-radius: 1rem;
$border-radius-profile: 50%;

//Width & height
$width: 100%;
$height: 100%;
$height-vh: 100vh;
$width-vw: 100vw;
$width-cards: 200px;
$height-cards: 250px;
