//Background
$background-color-primary: #1e272e;
$background-color-secondary: #ffa801;

//Text
$color-title-primary: #ff5e57;
$color-para-primary: #ffd32a;
$color-para-secondary: #ffa801;
$color-entity-primary: #ffdd59;

//Border
$border-color-primary: #f1f2f6;
