@import "../../style/_vues.scss";
@import "../../style/_fonts.scss";
@import "../../style/_designs.scss";
@import "../../style/_variables.scss";

.inscription {
  width: $width;
  height: $height;
  margin: 0 2rem;

  .registration-form {
    width: 100%;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        color: $color-entity-primary;
      }

      input,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .submit-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  @include lg() {
    width: 50%;
  }

  @include xxl() {
    width: 30%;
  }
}
